#root {
    padding: 0;
    margin: 0;
}

.nav {
    justify-content: flex-end;
}

.hamburger {
    display: none;
}

.menu {
    display: flex;
    gap: 2rem;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .menu {
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s linear 0.3s;
    }

    .menu.open {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s linear 0s;
    }
}